<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546249380040-ufj3sj7l0c1hd12s6po0rgdp1425dlek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546249380040-ufj3sj7l0c1hd12s6po0rgdp1425dlek</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>546249380040-rm4bm1udv5bvg5spvk7c1ujh1j6ofcsl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBWG5V4H6fkgh5TwoTBKjeAc3Fw7EJxDWc</string>
	<key>GCM_SENDER_ID</key>
	<string>546249380040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.synchrowise.app</string>
	<key>PROJECT_ID</key>
	<string>synchrowise-app</string>
	<key>STORAGE_BUCKET</key>
	<string>synchrowise-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546249380040:ios:c585cc9d14d5c13f7795fd</string>
</dict>
</plist>